span {
  color: #40323A;
  font-size:28px;
  font-weight:600;
  text-shadow: 1px 1px 2px #000000;
   /* border-bottom: 3px solid black; */
}

.jumbotron{
  min-width:280px;
  max-width:500px;
  width:100%;
  margin:0 auto;
  /* border:3px solid white; */
  border-radius:15px;
  /* box-shadow: 5px 10px 18px #888888; */
  /* box-shadow: -7px -7px 13px #ffffff73, 5px 5px 10px rgba(94, 104, 121, 0.288); */
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}

:host ::ng-deep .p-password input {
  max-width:450px;
  min-width:350px;
  width: 100%;
}
body{
   display:grid;
   place-items:center;
   width:100%;
   /* text-align:center; */
   background: linear-gradient(to left, #7808f0, #06bdf5);
}
